<div class="page-header">
  <h3>Новости</h3>
</div>
<table>
  <tbody>
    <% @publications.each do |publication| %>
      <tr>
        <td><%= publication.title %></td>
        <td><%= publication.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if admin_user_signed_in? %>
  <%= link_to 'Добавить новость', new_publication_path %>
<% end %>

