<div id="myCarousel" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item">
      <%= image_tag('slide1.jpg', alt: "Alam consulting") %>
    </div>
    <div class="item">
      <%= image_tag('slide2.jpg', alt: "Alam consulting") %>
    </div>
    <div class="item">
      <%= image_tag('slide3.jpg', alt: "Alam consulting") %>
    </div>
    <div class="item">
      <%= image_tag('slide4.jpg', alt: "Alam consulting") %>
    </div>
  </div>
</div>
