<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<div class="firstpage">
  <div class="page-header">
    <h3>О нас</h3>
  </div>
  <p><strong>Hinkels Consulting</strong> — независимая юридическая фирма, являющаяся правовым
    советником для российских и иностранных компаний, работающих на
    российском рынке.</p>
  <p> Hinkels имеют успешный опыт работы в
    следующих направлениях деятельности: миграционное и трудовое право,
    корпоративное право, недвижимость, взыскание задолженности,
    разрешение споров, налоги и интеллектуальная собственность.</p>
  <p>Клиенты выбирают Hinkels в качестве своего правового
    консультанта, так как они уверены в квалификации юристов, которая
    основывается на глубоком знании российского законодательства,
    уникальном опыте работы и западных стандартах предоставления
    услуг.</p>

  <div id="news" class="news">
    <%= render "bereau/news" %>
  </div>



</div>
