<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<div class="firstpage">
  <div class="page-header">
    <h1>Hinkels Consulting</h1>
  </div>
  <div class="row">
    <div class="span4">
      <%= image_tag('page1-img1.jpg', alt: "Alam consulting") %>
    </div>
    <div class="span4">
      <h3 class="slogan">We Hold <br/>the National<br/> Quality Standard.</h3>
    </div>
  </div>
  <p><strong>Hinkels Consulting</strong> — независимая юридическая фирма, являющаяся правовым
    советником для российских и иностранных компаний, работающих на
    российском рынке.</p>
  <p> Hinkels имеют успешный опыт работы в
    следующих направлениях деятельности: миграционное и трудовое право,
    корпоративное право, недвижимость, взыскание задолженности,
    разрешение споров, налоги и интеллектуальная собственность.</p>
  <p>Клиенты выбирают Hinkels в качестве своего правового
    консультанта, так как они уверены в квалификации юристов, которая
    основывается на глубоком знании российского законодательства,
    уникальном опыте работы и западных стандартах предоставления
    услуг.</p>
  <div class="page-header">
    <h3>Новости & Мероприятия</h3>
  </div>
  
  <div class="row">
    <div class="span3">
      <div class="media">
        <a class="pull-left" href="#">
          <%= image_tag('article1.jpg', alt: "Alam consulting", class: "media-object") %>
        </a>
        <div class="media-body">
          <h4 class="media-heading">Media heading</h4>
          Porta variusm hendreit mauris Lorem ipsum dolor.
          <!-- Nested media object -->
          <div class="media">
            <a class="learn"><strong>
                <em>Подробнее</em>
                <i class="icon-chevron-right"></i>
            </strong></a>
          </div>
        </div>
      </div>
    </div>
    <div class="span3 offset1">
      <div class="media ">
        <a class="pull-left" href="#">
          <%= image_tag('article2.jpg', alt: "Alam consulting", class: "media-object") %>
        </a>
        <div class="media-body">
          <h4 class="media-heading">Media heading</h4>
          Porta variusm hendreit mauris Lorem ipsum dolor.
          <!-- Nested media object -->
          <div class="media">
            <a class="learn"><strong>
                <em>Подробнее</em>
                <i class="icon-chevron-right"></i>
            </strong></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
