body {
   padding-top: 20px;
   border-top: 4px solid #211E1F;
   background: #F6F5F2
}
$main-background: #ffffff;

h3 {
   margin: 0;
   font-weight: normal;
}


.container {

}

.head {
   .top {
      padding: 10px 0 20px 0; 
      background: $main-background;
      border-color: #E4E3DF;
      border-style: solid;
      border-width: 1px;
      border-bottom: none;
      .logo {
         padding: 55px 0 0px 0;
         text-align: center;


         img {
            width: 250px;
         }
      }
      .nav {
        a {
          font-size: 13.5px;
        }       
      }     
      .slogan {
         color: #242222;
         font-family: 'Georgia';
         font-size: 38px;
         font-style: normal;
         font-weight: normal;
         letter-spacing: 0;
         line-height: 1.2;
         margin-top: -1px;
         text-align: left;
         text-decoration: none;
      }
   }
   
   /* .bg { */
   /* } */
   /* .shadow { */
   /*    height: 200px; */
   /*    border-image: url("logo-shadow.png") 0 27 0 0 round stretch; */
   /*    border-image-width: auto; */
   /* } */
}

.slide {
   border-color: #E4E3DF;
   border-style: solid;
   border-width: 1px;
   border-top: none;
   border-bottom: none;
   .carousel {
      padding: 0;
      margin:0;
   }
}
.main {
   padding-top:40px;
   padding-bottom:40px;
   background: $main-background;
   border-color: #E4E3DF;
   border-style: solid;
   border-width: 1px;
   border-top: none;

   .solution {
      margin:0 20px 0 20px;
      .page-header {
         margin-top: 0;
      }
      h4 {
      color: #9B9B9B;
      font-family: 'Georgia';
      font-size: 15px;
      font-style: italic;
      font-weight: normal;
      letter-spacing: 0;
      line-height: 1.2;
      margin-top: -1px;
      padding-left: 7px;
      text-align: left;
      }
      i {
      color: #57279B;
      }     
      a {
       color: #9B9B9B;
      }
      a:hover {
         text-decoration: none;
         color: #57279B;
      }
      h4 {
         font-weight: normal;
      }
      a.learn {

         color: black;

      }
   }
   .content {

   }
   .areas {
      .page-header {
         margin:40px 20px 20px 20px;
      }
      .first {
         ul {
            margin-left:40px;
         }
      }
   }
}

.firstpage {
   img {
      margin-bottom: 20px;
   }
   .slogan {
      font-size: 24px;
      color: #504842;
      font-family: 'Georgia';
      font-weight: normal;
   }
   .text {
      margin:20px 20px 40px 0;
   }
   .page-header {
      margin-right: 20px;
   }
   .anons-left {
      margin-right: 20px;
   }   
   i {
   color: #57279B;
   }     
   a {
   color: black;
   
   }
   a:hover {
   text-decoration: none;
   color: #57279B;
   }

}


footer {
   margin: 30px 0 0 0;
   padding-bottom: 30px;
   background: #221E1F;
   .page-header {
      border-bottom: 1px solid #494545;
   }
   .container {
   }
   .call {
      padding-left:20px;
   }
   h3.brand {
      padding-top: 15px;
      color:#8c8a89;
      font-family:'Oswald';
      font-size:24px;
      line-height: 18px;
      padding-left: 20px;
   }
   ul.inverse {
      margin-bottom:0;
      li {
      }
   }
   .nav-pills {
      li.disabled a {
         color: #0088CC;
      }
   }
   a {
      color: #999999;
   }
   .privacy {
      padding-left: 12px;
   }
   
}