body {
   padding-top: 20px;
   border-top: 4px solid #211E1F;
   background: #F6F5F2
}
$main-background: #ffffff;
.head {
   background: $main-background;
   border-color: #E4E3DF;
   border-style: solid;
   border-width: 1px;
   border-bottom: none;
   .logo {
      background: #211E1F;
   }
   .shadow {
    height: 204px;
    left: 285px;
    line-height: 204px;
    overflow: hidden;
    text-align: center;
    top: 34px;
    width: 17px;
    z-index: 51005;
    position: absolute;
   }
}
.main {
   background: $main-background;
}


footer {
   background: #221E1F;
   .container {

   }
}