<section id="allservice" class="allservice">
  <div class="page-header">
    <h3>Практика</h3>
  </div>
  <%- model_class = Service -%>
  <ul class="thumbnails">
    <li class="span4">
      <ul>
        <% @services.each_with_index do |service, index| %>
        <% if index%3 == 0 %>
        <li><%= link_to service.title, service_path(service) %></li>
        <% end %>
        <% end %>
      </ul>
    </li>
    <li class="span4">
      <ul>
        <% @services.each_with_index do |service, index| %>
        <% if index%3 == 1 %>
        <li><%= link_to service.title, service_path(service) %></li>
        <% end %>
        <% end %>
      </ul>
    </li>
    <li class="span4">
      <ul>
        <% @services.each_with_index do |service, index| %>
        <% if index%3 == 2 %>
        <li><%= link_to service.title, service_path(service) %></li>
        <% end %>
        <% end %>
      </ul>
    </li>

  </ul>

</section>
