.container
  .page-header
    .row
      .span3.call
        %h5 
          = t('views.layout.phone') 
          <br/>+7 495 7777108
  .row
    .span2
      %h3.brand HINKELS <br/> <medium> consulting </medium>
    .span10
      %p.privacy 
        %small © 2013 : Privacy Policy
