<div class="container">
  <div class="page-header">
    <div class="row">
      <div class="span3 call">
        <h5>Телефон:<br/>+7 495 7777108</h5>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="span2">
      <h3 class="brand">HINKELS<br/><medium>consulting</medium></h3>
    </div>
    <div class="span8">
      <p class="privacy"><small>© 2013 : Privacy Policy</small></p>
    </div>
  </div>
</div>
