.solution
  .page-header
    %h3 
      = t('views.layout.publication')
  - Publication.all.shuffle.take(3).each do |publication|
    .page-header
      %h4
        %a 
          %em
            %i.icon-play
          %u
            = link_to publication.title, publication_path(publication)
      %div
        = truncate_html(publication.description.html_safe, length: 150)
      %div
        = link_to t('views.layout.read_more'), publication_path(publication), :class=>'learn'
        %i.icon-chevron-right
