<div class="solution">
  <div class="page-header">
    <h1>Наши услуги</h1>
  </div>
  <%- model_class = Service -%>
    <% @services.shuffle.take(3).each do |service| %>
      <div class="page-header">
        <h4><a><em>
              <i class="icon-play"></i>
              <u><%= link_to service.title, service_path(service) %></u>
        </em></a></h4> 
        <div><%= truncate_html(service.description.html_safe, length:
        150) %></div>
        <div><%= link_to 'Читать далее', service_path(service), :class=>'learn' %>
        <i class="icon-chevron-right"></i> 
        </div>
      </div>
    <% end %>
</div>
